ol { 
    color: red; 
    
    } 
    
    
    h2 { 
    color: green; 
    
    } 
    
    h1 { 
    color: red; 
    
    } 
    
    span { 
    color: red; 
    font-weight: bold; 
    } 
    
    div { 
    color: blueviolet; 
    
    }